<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="mapwize-cordova-plugin"
    version="1.0.0">
    <name>Mapwize</name>
    <description>Cordova Plugin for Mapwize</description>
    <license>MIT</license>
    <keywords>cordova,ionic,mapwize,indoor,building,map,maps</keywords>
    <repo>https://github.com/Mapwize/mapwize-cordova</repo>
    <issue></issue>

    <preference name="MWZMAPWIZEAPIKEY"/>

    <js-module src="www/Mapwize.js" name="Mapwize" >
        <clobbers target="window.Mapwize"/>
    </js-module>

    <js-module src="www/MapwizeView.js" name="MapwizeView" >
        <clobbers target="window.MapwizeView" />
    </js-module>
    
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Mapwize" >
                <param name="android-package" value="io.mapwize.cordova.MapwizeCordovaPlugin"/>
            </feature>
        </config-file>

        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml">
          <meta-data android:name="MWZMAPWIZEAPIKEY" android:value="$MWZMAPWIZEAPIKEY" />
        </config-file>
        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml">
            <activity android:name="io.mapwize.cordova.MapwizeActivity"
                android:configChanges="orientation|screenSize" android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar" 
                android:launchMode="singleInstance">
            </activity>
        </config-file>

        <resource-file src="src/android/res/layout/activity_mapwize.xml" target="res/layout/activity_mapwize.xml" />
        <resource-file src="src/android/res/layout/mapwize_bottom_view.xml" target="res/layout/mapwize_bottom_view.xml" />
        <resource-file src="src/android/res/layout/mapwize_direction_button.xml" target="res/layout/mapwize_direction_button.xml" />
        <resource-file src="src/android/res/layout/mapwize_fragment.xml" target="res/layout/mapwize_fragment.xml" />
        <resource-file src="src/android/res/layout/mapwize_information_button.xml" target="res/layout/mapwize_information_button.xml" />
        <resource-file src="src/android/res/layout/mapwize_languages_alert.xml" target="res/layout/mapwize_languages_alert.xml" />
        <resource-file src="src/android/res/layout/mapwize_search_bar.xml" target="res/layout/mapwize_search_bar.xml" />
        <resource-file src="src/android/res/layout/mapwize_search_direction_bar.xml" target="res/layout/mapwize_search_direction_bar.xml" />
        <resource-file src="src/android/res/layout/mapwize_search_result_item.xml" target="res/layout/mapwize_search_result_item.xml" />
        <resource-file src="src/android/res/layout/mapwize_search_results_list.xml" target="res/layout/mapwize_search_results_list.xml" />
        <resource-file src="src/android/res/layout/mapwize_text_item.xml" target="res/layout/mapwize_text_item.xml" />
        <resource-file src="src/android/res/layout/mapwize_universes_alert.xml" target="res/layout/mapwize_universes_alert.xml" />

        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/strings2.xml" target="res/values/strings2.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
        <resource-file src="src/android/res/drawable/ic_close_24dp.png" target="res/drawable/ic_close_24dp.png" />
        <source-file src="src/android/src/io/mapwize/cordova/MapwizeActivity.java" target-dir="src/io/mapwize/cordova/" />
        <source-file src="src/android/src/io/mapwize/cordova/MapwizeCordovaPlugin.java" target-dir="src/io/mapwize/cordova/" />
        <source-file src="src/android/src/io/mapwize/cordova/MarshMallowPermission.java" target-dir="src/io/mapwize/cordova/" />

        <framework src="src/android/build-extras.gradle" custom="true" type="gradleReference" />
        <hook type="after_prepare" src="scripts/after_prepare.js" />
        <hook type="after_prepare" src="scripts/copy_android_locales.js" />
    </platform>
    <platform name="ios">
        <dependency id="cordova-plugin-cocoapod-support"/>
        <config-file target="config.xml" parent="/*">
            <feature name="Mapwize" >
                <param name="ios-package" value="Mapwize" onload="true"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="MWZMapwizeApiKey">
          <string>$MWZMAPWIZEAPIKEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="MGLMapboxMetricsEnabledSettingShownInApp">
          <string>YES</string>
        </config-file>

        <config-file target="*-Info.plist" parent="MGLMapboxAccessToken">
          <string>pk.mapwize</string>
        </config-file>

        <pods-config ios-min-version="10.0" use-frameworks="true">
        </pods-config>

        <header-file src="src/ios/src/ApiManager.h" />
        <source-file src="src/ios/src/ApiManager.m" />
        <header-file src="src/ios/src/OfflineManager.h" />
        <source-file src="src/ios/src/OfflineManager.m" />
        <header-file src="src/ios/src/Constants.h" />
        <source-file src="src/ios/src/Constants.m" />
        <header-file src="src/ios/src/Mapwize.h" />
        <source-file src="src/ios/src/Mapwize.m" />
        <header-file src="src/ios/src/ViewController.h" />
        <source-file src="src/ios/src/ViewController.m" />

        <hook type="after_prepare" src="scripts/copy_io_locales.js" />

        <pod id="MapwizeUI"  version="1.1.0"/>
    </platform>
    <!-- <dependency id="cordova-plugin-localization-strings" version="3.0.1"/> -->

    <engines>
      <engine name="cordova-android" version=">=8.0.0" />
    </engines>

</plugin>
